name: build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  package:
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: nix develop -c bash {0}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: cachix/install-nix-action@v16
      - run: npm ci
      - run: ./compile_sqls.fish
      - run: npx vsce package --out sqlnotebook-${{ github.sha }}.vsix
      - name: Upload vsix as artifact
        uses: actions/upload-artifact@v1
        with:
          name: sqlnotebook-${{ github.sha }}.vsix
          path: sqlnotebook-${{ github.sha }}.vsix
